/*Converter o sass em css*/

/*css padrao - estilo root*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

/*importar as cores cadastradas*/
@import "./partiels/colors";
@import "./partiels/header";
@import "./partiels/layout";

body{
    font-family: 'sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;

    background-color: $pink-dark;
}

button{
    font-family: 'sora', sans-serif;
    cursor: pointer;
}

/*imagens fluidas de largura*/
svg{
    width: 100%;
}

img{
    width: 100%;
}

/*dentro do texto*/
a{
    cursor: pointer;
    /*tirar o sublinhado*/
    text-decoration: none;
}